<div class="page fade-in">
  <header class="page-header">
    <h1>Liste des équipements</h1>
    <p>{{ equipments().length }} équipement(s) disponible(s)</p>
  </header>

  <div class="actions-bar">
    <button class="btn ghost">
      <img src="assets/icons/search.svg" alt="search" width="18" />
      Rechercher
    </button>

    <button class="btn ghost">
      <img src="assets/icons/filter.svg" alt="filter" width="18" />
      Filtrer
    </button>
  </div>

  <section class="equipments-list fade-in">
    @if (equipments().length === 0) {
      <div class="empty-state">
        <p>Aucun équipement disponible.</p>
      </div>
    } @else {
      @for (equipment of equipments(); track equipment.id) {
        <div class="reservation-card">
          <div class="equip-icon">
            <img src="assets/icons/laptop.svg" [alt]="equipment.name" width="22" height="22" />
          </div>

          <div class="reservation-info">
            <h3 class="reservation-title">{{ equipment.name }}</h3>
            <p class="reservation-dates">
              {{ equipment.location.name }}
            </p>
          </div>

          <div class="equipment-actions">
            <button class="btn secondary" [routerLink]="['/equipment-info/', equipment.id]">
              Plus d’info
            </button>

            <button class="btn primary" (click)="goToBooking(equipment.id)">Réserver</button>
          </div>
        </div>
      }
    }
  </section>
</div>
