.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.actions {
  display: flex;
  gap: 10px;
}

.equipments-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
}

.equipment-card {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 16px;
}

.equipment-info {
  display: flex;
  align-items: center;
  gap: 14px;
}

.equip-icon {
  width: 40px;
}

.equipment-text {
  display: flex;
  flex-direction: column;
}

.equipment-actions {
  display: flex;
  gap: 12px;
}
