<div class="page">
  <header class="header">
    <h1 class="header-title">Mes réservations en cours</h1>
  </header>

  <section class="reservations-list fade-in">
    @if (visibleLoans().length === 0) {
      <p>Aucune réservation.</p>
    } @else {
      @for (loan of visibleLoans(); track loan.id) {
        <div class="reservation-card">
          <div class="reservation-info">
            <img class="equip-icon" src="assets/icons/laptop.svg" alt="icon" />
            <div class="reservation-text">
              <h3 class="reservation-title">{{ loan.equipment.name }}</h3>
              <span class="status-badge {{ loan.loanStatus | lowercase }}">
                {{ loan.loanStatus | loanStatusLabel }}
              </span>

              <p class="reservation-dates">
                Du {{ loan.startDate | date: 'dd/MM/yyyy' }} au
                {{ loan.endDate | date: 'dd/MM/yyyy' }}
              </p>
            </div>
          </div>
          <button class="btn secondary" [routerLink]="['/equipment-info/', loan.equipment.id]">
            Voir
          </button>
        </div>
      }
    }
  </section>

  @if (userId) {
    <button class="btn primary" [routerLink]="['/user-reservations']">
      Voir toutes mes réservations
    </button>
    <button class="btn primary" [routerLink]="['/equipments']">Réserver un équipement</button>
  }
</div>
