<header class="main-header">
  <div class="header-left">
    <div class="logo" routerLink="/user-dashboard">LocMNS</div>
  </div>

  <nav class="header-nav">
    @if (authService.jwtInfo()) {
      <a routerLink="/user-dashboard" routerLinkActive="active-link">Accueil</a>
    }

    @if (!authService.jwtInfo()) {
      <a routerLink="/login" routerLinkActive="active-link">Se connecter</a>
    } @else {
      <button class="logout-btn" (click)="logout()">Déconnexion</button>
    }

    @if (authService.isAdmin()) {
      <a routerLink="/admin-dashboard" routerLinkActive="active-link">Admin</a>
    }
  </nav>
</header>

<main class="page-container">
  <router-outlet />
</main>

<footer class="main-footer">
  <p>© 2026 LocMNS — Metz Numeric School</p>
</footer>
