<div class="page">
  <header class="header">
    <button class="icon-btn">
      <span class="material-icons" [routerLink]="['/user-dashboard']">arrow_back</span>
    </button>

    <h1 class="header-title">Mes réservations</h1>

    <button class="icon-btn">
      <span class="material-icons">account_circle</span>
    </button>
  </header>

  <section class="tabs">
    <button
      class="tab-btn"
      [class.active]="activeTab() === ReservationTab.Current"
      (click)="setTab(ReservationTab.Current)"
    >
      En cours
    </button>

    <button
      class="tab-btn"
      [class.active]="activeTab() === ReservationTab.Upcoming"
      (click)="setTab(ReservationTab.Upcoming)"
    >
      À venir
    </button>

    <button
      class="tab-btn"
      [class.active]="activeTab() === ReservationTab.Past"
      (click)="setTab(ReservationTab.Past)"
    >
      Passées
    </button>
  </section>

  <section class="reservations-list fade-in">
    @if (visibleLoans().length === 0) {
      <p>Aucune réservation.</p>
    } @else {
      @for (loan of visibleLoans(); track loan.id) {
        <div class="reservation-card">
          <div class="reservation-info">
            <img class="equip-icon" src="assets/icons/laptop.svg" alt="icon" />
            <div class="reservation-text">
              <h3 class="reservation-title">{{ loan.equipment.name }}</h3>
              <p class="reservation-dates">
                Du {{ loan.startDate | date: 'dd/MM/yyyy' }} au
                {{ loan.endDate | date: 'dd/MM/yyyy' }}
              </p>
            </div>
          </div>
          <button class="btn secondary" [routerLink]="['/equipment-info/{{ loan.equipment.id }}']">
            Voir
          </button>
        </div>
      }
    }
  </section>
</div>
